
@using AdminR.Models;


@{
    ViewBag.Title = "Home Page";
    List<Product> listproduct = ViewBag.ListProduct;
    Product p = new Product();
    //List<Product> listproduct = new Product().GetAllAsync().GetAwaiter().GetResult();
    int i = 0;
}




<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Quản lý sản phẩm</h1>
    <p class="mb-4">Danh mục mặt hàng</p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Dữ liệu đồng hồ</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên</th>
                            <th>Loại</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Giảm giá</th>
                            <th>Ngày tạo</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Tên</th>
                            <th>Loại</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Giảm giá</th>
                            <th>Ngày tạo</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in listproduct)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.Product_Name</td>
                                <td>@item.category</td>
                                <td>@item.Price</td>
                                <td>@item.Quantity</td>
                                <td>@item.discount</td>
                                <td>@item.createDate</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>