@model eCommercial.Product
@using eCommercial;
@{
    ViewBag.Title = "DetailsProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/w3.css">
<p>
    @Html.ActionLink("Home", "Index", "Home")<i class="fa fa-arrow-right fa-fw"></i><a href="@Url.Action("CategoryPick", "Home", new { id = Model.Category.Category_Id })">@Model.Category.Category_Name</a><i class="fa fa-arrow-right fa-fw"></i><a href="@Url.Action("DetailsProduct", "Home", new { id = Model.Product_ID })">@Model.Product_Name</a>
</p>
<!-- The Grid -->
<div class="w3-row-padding w3-margin-top">
    <!-- Left Column -->
    <div class="w3-half">
        <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">
                <img style="width:100%;height:400px;object-fit: cover;" src="@Model.Image" alt="">
            </div>
        </div>
        <!-- End Left Column -->
    </div>
    <!-- Right Column -->
    <div class="w3-half">
        <div class="w3-card w3-padding w3-deep-purple w3-margin-bottom">
            <h2 class="w3-medium">@Model.Product_Name</h2>
        </div>
        <div class="w3-card w3-padding w3-white w3-margin-bottom">
            <p style="font-size:40px" class="w3-text-blue"><i class="fa fa-money fa-fw w3-margin-right "></i>@Convert.ToDecimal(@Model.Product_Price).ToString("#,##0") đ</p>
        </div>
        <div class="w3-card w3-padding w3-white">
            <p><i class="fa fa-asterisk fa-fw w3-margin-right w3-large w3-dark-deep-purple"></i>@Model.Category.Category_Name</p>
            <h6 class="w3-dark-deep-purple"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@Model.CreationTime</h6>
            <p>@Model.Product_Detail</p>
        </div>
            
        
        <!-- End Right Column -->
    </div>
</div>


<div class="w3-container w3-card w3-white w3-margin">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-comment fa-fw w3-margin-right w3-xxlarge w3-dark-deep-purple"></i>Comment <span class="badge">@Model.Comment_Product.Count()</span></h2>
    <!--Comment-->
    @foreach (var item in Model.Comment_Product.OrderByDescending(r => r.CreationTime))
    {
        <div class="w3-container">
            @if (item.Customer.Last_Name == null || item.Customer.First_Name == null)
            {
                <h5 class="w3-text-deep-purple w3-opacity"><b>User ẩn danh</b></h5>

            }
            else
            {
                <h5 class="w3-text-deep-purple w3-opacity"><b>@item.Customer.Last_Name @item.Customer.First_Name</b></h5>
            }
            <h6 class="w3-dark-deep-purple"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@item.CreationTime</h6>
            <p>@item.Comment_Content</p>
        </div>
    }
    <!-- End Grid -->
</div>

