@model eCommercial.Product
@using eCommercial;
@{
    ViewBag.Title = "DetailsProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- The Grid -->
<div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

        <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">
                <img style="width:initial" data-src="holder.js/358x358/auto/#777:#555/text:First slide" alt="">
                @*<div class="w3-display-bottomleft w3-container w3-text-black">
                        <h2>Jane Doe</h2>
                    </div>*@
            </div>
            <div class="w3-container w3-margin-top">

            </div>
        </div>

        <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>@Model.Product_Name</h2>
            <div class="w3-container">
                <p><i class="fa fa-money fa-fw w3-margin-right w3-large w3-text-teal"></i>@Convert.ToDecimal(@Model.Product_Price).ToString("#,##0") VND</p>
                <p><i class="fa fa-asterisk fa-fw w3-margin-right w3-large w3-text-teal"></i>@Model.Category.Category_Name</p>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
                <p>@Model.Product_Detail</p>
            </div>
        </div>

        <div class="w3-container w3-card w3-white">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-comment fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Comment</h2>
            <!--Comment-->
            @foreach (var item in Model.Comment_Product.OrderByDescending(r=>r.CreationTime))
            {
                <div class="w3-container">
                   @if (item.Customer.Last_Name == null || item.Customer.First_Name == null)
                    {
                        <h5 class="w3-opacity"><b>User ẩn danh</b></h5>

                    }
                    else
                    {
                        <h5 class="w3-opacity"><b>@item.Customer.Last_Name @item.Customer.First_Name</b></h5>
                    }
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@item.CreationTime</h6>
                    <p>@item.Comment_Content</p>
                </div>
            }


            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>
    <p>
        @Html.ActionLink("Back", "Index")
    </p>
