@using eCommercial;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "SavedProDuct";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DefaultConnectionEntities db = new DefaultConnectionEntities();
    var userid = Request.IsAuthenticated ? User.Identity.GetUserId() : null;
}
<div class="w3-container">
    <h2>Saved ProDuct <span id="countsavedproduct_badge" class="badge w3-red">@db.Product_Like.Where(r => r.ID_Customer == userid).Count()</span></h2>

    @foreach (var item in db.Product_Like.Where(r => r.ID_Customer == userid).OrderByDescending(r => r.CreationTime))
    {
        <div class="w3-container w3-margin-bottom w3-display-container w3-hover-light-gray">
            <div class="col-lg-4 col-md-4">
                <img style="object-fit:cover;width:100%" src="@item.Product.Image" />
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="w3-row">
                    <h1>@item.Product.Product_Name</h1>
                </div>
                <div class="w3-row">
                    <h2 class="w3-text-green"><i class="fa fa-money"></i> @Convert.ToDecimal(item.Product.Product_Price).ToString("#,##0")</h2>
                </div>
                <div class="w3-row">
                    <p>saved date: @item.CreationTime</p>
                </div>

            </div>
            <div class="">
                <button value="@item.Product.Product_ID" type="button" class="w3-display-topright buttonsaveproduct w3-green w3-text-gray w3-animate-opacity w3-btn w3-margin w3-round" title="Save"><i class="fa fa-heart w3-text-white"></i></button>
                <button type="button" class="w3-display-bottomright w3-white w3-animate-opacity w3-btn w3-margin w3-round" title="Shopping Cart"><i class="fa fa-shopping-cart w3-text-grey"></i></button>
            </div>
        </div>

    }

</div>



@section scripts {
    @Html.Partial("_SignalrScriptPartial")
}
