@using Microsoft.AspNet.Identity
@using eCommercial;
@{
    DefaultConnectionEntities db = new DefaultConnectionEntities();
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right w3-margin-right">
            <li>
                <a>
                    <div class="w3-display-container">
                        <i class="fa fa-shopping-cart w3-large "></i>
                        <span class="badge w3-red ">0</span>
                    </div>
                </a>
                
            </li>
            <li class="">
                <a style="margin:2px;padding:2px" href="@Url.Action("Index", "Manage")">
                    <img class="w3-round" style="height:38px" src="@db.Customers.Find(User.Identity.GetUserId()).Avatar" />
                </a>
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right w3-margin-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
