@using Microsoft.AspNet.Identity
@using eCommercial;
@using eCommercial.Models;
@using Microsoft.AspNet.Identity.EntityFramework;
@{
    DefaultConnectionEntities db = new DefaultConnectionEntities();
    var id = User.Identity.GetUserId();
    int count = db.Customers.Count(r => r.Customer_Id.Equals(id));
}
@if (User.Identity.IsAuthenticated)
{
    ApplicationDbContext context = new ApplicationDbContext();
    var user = User.Identity;
    var UserManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(context));
    var s = UserManager.GetRoles(user.GetUserId());
    if (s[0].ToString() == "Admin")
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Manage
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Customer", "Index", "Customers")</li>
                <li>@Html.ActionLink("Product", "Index", "Products")</li>
                <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                <li>@Html.ActionLink("User", "Index", "Users")</li>
            </ul>
        </li>
    }
}

<li class="w3-dropdown-hover w3-hover-black">
    <a class="navbar-inverse">Categories<span class="caret"></span></a>
    <ul class="w3-dropdown-content w3-bar-block w3-border w3-round" >
        @foreach (var item in db.Categories)
        {
            <li style="list-style-type: none;"><a style="text-decoration:none" class="w3-bar-item w3-button" href="@Url.Action("CategoryPick", "Home", new { id = item.Category_Id })">@item.Category_Name</a></li>
        }
    </ul>
</li>

<ul class="navbar-form navbar-right">
    <li>
        <div class="form-group">
            @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { id = "searchForm" }))
            {
                @Html.TextBox("keyword", null, new { @class = "form-control", @placeholder = "Search product..." })
            }
        </div>
    </li>
</ul>
