@using Microsoft.AspNet.Identity
@using eCommercial;
@{
    DefaultConnectionEntities db = new DefaultConnectionEntities();
    string userid = User.Identity.GetUserId();
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right w3-margin-right">
            <li>
                <a>
                    <div class="w3-display-container">
                        <i class="fa fa-shopping-cart w3-large "></i>
                        <span class="badge w3-red ">0</span>
                    </div>
                </a>

            </li>
            <li class="w3-dropdown-hover">
                <a style="margin:0px;padding-top:6px;padding-bottom:0px" href="@Url.Action("Index", "Manage")">
                    <img class="w3-round" style="height:40px" src="@db.Customers.Find(User.Identity.GetUserId()).Avatar" />
                </a>
                <ul class="w3-dropdown-content w3-bar-block w3-border w3-round" style="right:0">

                    <li style="list-style-type: none;"><a href="@Url.Action("Edit", "Customers", new { id = User.Identity.GetUserId() })" style="white-space:nowrap;text-decoration:none" class="w3-bar-item w3-button">Change profile</a></li>

                    <li style="list-style-type: none;"><a href="@Url.Action("SavedProduct","Home")" style="white-space:nowrap;text-decoration:none" class="w3-bar-item w3-button">Saved product <span class="badge" id="countsavedproduct">@db.Product_Like.Where(r => r.ID_Customer == userid).Count()</span></a></li>
                </ul>
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right w3-margin-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
